/******************************************************************************************************************************************************************************
* BASICS
******************************************************************************************************************************************************************************/


html { font-size: 17px; }
html,body 
{
	background: #1a1a1a; 
	padding : 0; 
	margin: 0; 
	width: 100vw; 
	min-width: 320px; 
	min-height: 700px; 
	height: 100vh; 
	position: relative; 
	 
}

.hidden { visibility: hidden; display: none; }
.unselectable {-moz-user-select: none; -webkit-user-select: none;  -ms-user-select: none; user-select: none; -webkit-user-drag: none; user-drag: none; }



/******************************************************************************************************************************************************************************
* FILTERS
******************************************************************************************************************************************************************************/


.saturate {-webkit-filter: saturate(3);  }
.grayscale {-webkit-filter: grayscale(100%);  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); }
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%);}



/******************************************************************************************************************************************************************************
* BOOSTRAP OVERRIDE
******************************************************************************************************************************************************************************/
 
/* Responsive Media Requests */

	/* Large Desktops */
	@media screen and ( max-width: 1680px ) {
		html { font-size: 16px; }
	}

	/* UltraBooks & Tablets */
	@media screen and ( max-width: 1366px ) {
		html { font-size: 13px; }
	}

	/* Small Desktops & NetBooks */
	@media screen and ( max-width: 1280px ) {
		html { font-size: 12px; }
	}

	/* Ipads */
	@media screen and ( max-width: 1024px ) {
		html { font-size: 10px; }
	}





 
/******************************************************************************************************************************************************************************
* BOOSTRAP OVERRIDE
******************************************************************************************************************************************************************************/
 

/* Generalities */
h1 { font-family: 'Oswald',sans-serif,Serif; font-weight: bold; letter-spacing: -2px; border: none; color: #336699; width: auto; display:inline-block; }
h2 { font-family: 'Nixie One', sans-serif, Serif; font-weight: bold; color: lightblue; }
h3 { font-family: 'Cinzel','Nixie One', Serif; }
h4 { font-family: 'Oswald','Nixie One', Serif; }
.hidden { display: none; }


/* Header */
nav { display: inline-block; /*background: #1a1a1a; opacity: 0.8;*/text-align: left; min-width: 280px; width: 15%; height: 60px; position: fixed; z-index: 9999; }
nav ul { list-style-type: none; }
nav li { display: inline-block; margin-right: 30px; width: auto;}
nav a {  color: white;text-decoration: none;  font-family: 'Oswald', Serif; }
._dashed { border-bottom: 1px dotted #999; padding-bottom: 2px;  }
nav a:hover { color: #336699; text-decoration: none;}

#nav_trigger { display: block; cursor: pointer; position: absolute; top: 0; left:0; z-index: 2; background-color: #336699; height: 60px; width: 60px; border: none;
 		-webkit-transition: height 1s ease-in-out; -moz-transition: height 1s ease-in-out; -o-transition: height 1s ease-in-out; transition: height 1s ease-in-out; }

#menu { position: absolute; top: 18px; left: 18px; margin: 0; padding: 0;
		-webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.RightAngle { -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg); }

#navmenu { padding: 0; margin: 0; height:60px;   }
#dropdown { padding: 0; margin:0; height: 100%; }
#dropdown li { padding: 0; margin-left: 60px; width: calc(100% - 60px); height: 100%; background: rgba(26,26,26,0.8);}
#dropdown a { margin: 0 0 0 10%; font-size: 2em; font-size: 2rem; font-size: 34px;}
.eph { margin-top: 10%; visibility: hidden; opacity: 0; 
	   -webkit-transition: all 1s ease-out .2s; -moz-transition: all 1s ease-out .2s; -o-transition: all 1s ease-out .2s; transition: all 1s ease-out .2s; }

.eph:hover {margin-left:80px!important;
	-webkit-transition: margin-left 1s ease-out; -moz-transition: margin-left 1s ease-out; -o-transition: margin-left 1s ease-out; transition: margin-left 1s ease-out; } 


/* Main Content */
.over { margin: 0; padding: 0; position: absolute; background: rgba(26,26,26,0.6); }
.over h1 {  font-family: 'Oswald',sans-serif,Serif; font-weight: bold; color: black; white-space: nowrap; width: auto; color: #336699;}
.title {      color : #336699; }





/******************************************************************************************************************************************************************************
* BOOSTRAP OVERRIDE
******************************************************************************************************************************************************************************/



#HeroBack { position: relative; padding: 0; margin: 0; width: 100vw; max-width: 100%; height: 100vh; background: #1a1a1a url("../images/jpg/MM&I/Hero/Back.jpg") center 0 no-repeat fixed; background-size: cover; }
#OverBack { display: inline; height: 50%; width: 0%; bottom: 25%; 
			-webkit-transition: width 1s linear; -moz-transition: width 1s linear; -o-transition: width 1s linear; transition: width 1s linear; } 
#OverBack h3 { color: lightgrey; }

#name { margin: 2% 0 0 10%; font-size:9vw; font-size: 10rem; padding: 0; border: none; white-space: nowrap; }
#intro { margin: 0% 0 0 10%; font-size: 3.7vw; font-size: 3.8rem; white-space: nowrap;   }
#title { margin: 3% 0 0 10.5%; white-space: nowrap; font-size: 3.5vw; font-size: 3.7rem; display: inline-block; border-top: 1px solid; border-top: 2px solid #808080; padding-top: 29px; }




/******************************************************************************************************************************************************************************
* BOOSTRAP OVERRIDE
******************************************************************************************************************************************************************************/



#HeroProfil { position: relative; padding: 0; margin: 0; width: 100vw; max-width: 100%; height: 100vh; background: #1a1a1a url("../images/jpg/MM&I/Hero/ProfilSoleilBois.jpg") center 0 no-repeat fixed; background-size: cover; }
#OverProfil { background: rgba(26,26,26,0.8); padding: 0; margin: 0; height: 100%; width: 50%; right: 0px; background: rgba(26,26,26,0.82);
			  }
#OverBlur {  padding: 5% 5%; margin: 0; position: absolute; left: 50%; height:100%; width:50%; overflow: hidden;}
#OverBlur h1 { margin: 0; white-space: nowrap; font-size: 7.5vw; font-size: 8.1rem; }
#OverBlur h2 { margin: 0; white-space: nowrap; font-size: 2.9vw; font-size: 3.15rem;}
#OverBlur h4 { margin: 8% 0 0 0; font-size: 5vmin; font-size: 3rem; }
#OverBlur p { font-family: "Nixie One"; color: white; font-size: 1.5em; font-size: 1.55rem;}




/******************************************************************************************************************************************************************************
* BOOSTRAP OVERRIDE
******************************************************************************************************************************************************************************/



#HeroTimeline { position: relative; padding: 0; margin: 0; width: 100vw; max-width: 100%; height: 100vh; background: url('../images/jpg/textures/blackfabric.jpg') center 0 no-repeat fixed;  } 
#XP { position: absolute; top: 0%; left: 27%; color: white; font-size: 5rem; color: rgb(51,102,153); }

	/* Years */
#Years { position: absolute; top: 15%; min-width: 100px; list-style: none; padding: 0; border-right: 1px solid #FFF; }
.year { margin-top: 5%; width: 56%; text-align: right; color: #FFF; font-family:  'Nixie One', Serif;  font-size: 1rem;  border-bottom: 1px solid #AAA; cursor: pointer;
		-webkit-transition: font-size .2s ease-in-out; -moz-transition: font-size .2s ease-in-out; -o-transition: font-size .2s ease-in-out; transition: font-size .2s ease-in-out;
		-webkit-transition: width .5s ease-in-out; -moz-transition: width .5s ease-in-out; -o-transition: width .5s ease-in-out; transition: width .5s ease-in-out; 
}
.year:hover { padding: 0 5% 0 0; color: #FFF; width: 100%; font-size: 3rem; border-bottom: 1px solid #FFF;  font-family: 'Oswald','Nixie One', Serif;
		   	   -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; 
}
.datyear { padding: 0 5% 0 0; color: #336699; width: 100%; font-size: 3rem; border-bottom: 1px solid #FFF; font-family: 'Oswald','Nixie One', Serif;
		   -webkit-transition: font-size .2s ease-in-out; -moz-transition: font-size .2s ease-in-out; -o-transition: font-size .2s ease-in-out; transition: font-size .2s ease-in-out; 
}
 
	/* Months */
#Months { padding: 0 0 0 1%;  position: absolute; min-width: 260px; left: 1%; top: 7%; height: auto; list-style: none; border-left: 1px solid #FFF; font-family:  'Nixie One', Serif; 
		  -webkit-transition: font-size .2s ease-in-out; -moz-transition: font-size .2s ease-in-out; -o-transition: font-size .2s ease-in-out; transition: font-size .2s ease-in-out; 
}
.month {  padding: 0 0 0 1%;text-align: left; color: #FFF; font-size: 2rem; cursor: pointer; width: 70%;
		-webkit-transition: font-size .2s ease-in-out; -moz-transition: font-size .2s ease-in-out; -o-transition: font-size .2s ease-in-out; transition: font-size .2s ease-in-out;
}
.pertinentmonth { font-family: 'Jura','Nixie One', Serif; font-size: 3rem; color: #FFF; 
	       		 -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out;     		 
}
.pertinentmonth:hover { font-family: 'Jura','Nixie One', Serif; font-size: 4rem; color: #FFF; 
	        -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; 
}
.datmonth { font-weight: bold; font-family: 'Jura','Nixie One', Serif; font-size: 4rem; color: #336699; width: 88%;   border-right: 1px solid white;
	        -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; 
}
.dismonth { font-family: 'Jura','Nixie One', Serif; font-size: 4rem; color: #FFF; 
	        -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; 
}
.demmonths { padding-left: 20%;  font-weight: bold; font-family: 'Jura','Nixie One', Serif; font-size: 2.5rem; color: #336699 ; width: 88%;  border-right: 1px solid white;
			 -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; 
}
 
#primcontent { position: absolute; padding: 0; top: 5%; left: 8.3%; color: #FFF; font-family: 'Jura','Nixie One', Serif; font-size: 4rem; height: 90%; border-left: 1px solid white;
		   -webkit-transition: all 1s ease 2s; -moz-transition: all 1s ease .2s; -o-transition: all 1s ease .2s; transition: all 1s ease .2s;
}
#primcontent h2 { font-size: 4rem; color: #336699; }
#primcontent h4 { font-size: 3rem; color: #FFF; }
#primcontent p { font-size: 2rem; }

#xpxplorer { padding: 3% 0 0 2%; position: absolute; bottom: 1%;  left: 1%; height: 20%; }
#xpxplorer a { padding: 0 0  0 2%; font-family: 'Jura'; font-weight: normal ;float: left; display: block; font-size: 2.5rem; width: 40% ; height: 50%; border-radius: 15px; border: 1px solid #336699; background: rgba(51,102,100,0.3); cursor :pointer; }
#xpxplorer span { font-size: 3.5rem; vertical-align: -30%;}
#next{ margin-left: 7%; }
 
.xpcover { z-index :800; padding: 0 0 0 2%; margin: 0; position: absolute; height: 100%; border-left: 1px solid #FFF; background: rgba(52,100,153,0.5); 
		   -webkit-transition: all 1s ease 2s; -moz-transition: all 1s ease .2s; -o-transition: all 1s ease .2s; transition: all 1s ease .2s; 
}
 
.xpdetails { position: absolute; padding: 0 0 0 5%; height: 100%; border-left: 1px solid #FFF;  
 			 -webkit-transition: all 1s ease 2s; -moz-transition: all 1s ease .2s; -o-transition: all 1s ease .2s; transition: all 1s ease .2s;
 }

.etq { height: 100%; width: 100%; border-left: 5px solid #336699; }
.locationLabel { z-index :998; padding: 0 0 0 2%; min-height: 90px; height: 25%; min-width: 300px; width: 65%; position: absolute; top: 5%; right: 0%; color: #336699; font-size: 3.5rem!important; font-family: 'Oswald', 'Nixie One', sans-serif; background: rgba(26,26,26,0.8); }
.eventLabel { position: absolute;  top: 48%; left: 15%; margin: 0; padding: 0; font-family: 'Oswald','Nixie One', Serif; color: lightblue; font-size: 1.8rem; }
.periodLabel { position: absolute;  top: 70%; left: 15%; margin: 0; padding: 0 ;font-family: 'Oswald','Nixie One', Serif; color: #FFF ; font-size: 1.6rem; }
#bac { height: 40%; width: 80%; }






/******************************************************************************************************************************************************************************
* BOOSTRAP SKILLS
******************************************************************************************************************************************************************************/



#HeroSkills { position: relative; padding: 0; margin: 0; width: 100vw; max-width: 100%; height: 100vh; background: url('../images/jpg/textures/blackfabric.jpg') center 0 no-repeat fixed; } 







 
