/******************************************************************************************************************************************************************************
* BASICS
******************************************************************************************************************************************************************************/


html { font-size: 17px; }
html,body 
{
	background: #1a1a1a; 
	padding : 0; 
	margin: 0; 
	width: 100vw; 
	min-width: 320px; 
	 max-width:100%;
	min-height: 700px; 
	height: 100vh; 
	position: relative; 
	/*background: #1a1a1a url("../images/jpg/textures/tapisserie.jpg") center 0 no-repeat fixed; background-size: cover;*/
	 
}

.hidden { visibility: hidden; display: none; }
.unselectable {-moz-user-select: none; -webkit-user-select: none;  -ms-user-select: none; user-select: none; -webkit-user-drag: none; user-drag: none; }



/******************************************************************************************************************************************************************************
* FILTERS
******************************************************************************************************************************************************************************/


.saturate {-webkit-filter: saturate(3);  }
.grayscale {-webkit-filter: grayscale(100%);  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); }
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%);}



/******************************************************************************************************************************************************************************
* BOOSTRAP OVERRIDE
******************************************************************************************************************************************************************************/
 
/* Responsive Media Requests */

	/* Large Desktops */
	@media screen and ( max-width: 1680px ) {
		html { font-size: 16px; }
	}

	/* UltraBooks & Tablets */
	@media screen and ( max-width: 1366px ) {
		html { font-size: 13px; }
	}

	/* Small Desktops & NetBooks */
	@media screen and ( max-width: 1280px ) {
		html { font-size: 12px; }
	}

	/* Ipads */
	@media screen and ( max-width: 1024px ) {
		html { font-size: 10px; }
	}





 
/******************************************************************************************************************************************************************************
* GENERAL
******************************************************************************************************************************************************************************/
 

/* Generalities */
h1 { font-family: 'Oswald',sans-serif,Serif; font-weight: bold; letter-spacing: -2px; border: none; color: #487a7b; width: auto; display:inline-block; }
h2 { font-family: 'Nixie One', sans-serif, Serif; font-weight: bold; color: lightblue; }
h3 { font-family: 'Cinzel','Nixie One', Serif; }
h4 { font-family: 'Oswald','Nixie One', Serif; }
.hidden { display: none; }


/* Header */
nav { display: inline-block; /*background: #1a1a1a; opacity: 0.8;*/text-align: left; min-width: 280px; width: 15%; height: 60px; position: fixed; z-index: 9999; }
nav ul { list-style-type: none; }
nav li { display: inline-block; margin-right: 30px; width: auto;}
nav a {  color: white;text-decoration: none;  font-family: 'Oswald', Serif; }
._dashed { border-bottom: 1px dotted #999; padding-bottom: 2px;  }
nav a:hover { color: #259393; text-decoration: none;}

#nav_trigger { display: block; cursor: pointer; position: absolute; top: 0; left:0; z-index: 2; background-color: #259393; height: 60px; width: 60px; border: none;
 		-webkit-transition: height 1s ease-in-out; -moz-transition: height 1s ease-in-out; -o-transition: height 1s ease-in-out; transition: height 1s ease-in-out; }

#menu { position: absolute; top: 18px; left: 18px; margin: 0; padding: 0;
		-webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.RightAngle { -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg); }

#navmenu { padding: 0; margin: 0; height:60px;   }
#dropdown { padding: 0; margin:0; height: 100%; }
#dropdown li { padding: 0; margin-left: 60px; width: calc(100% - 60px); height: 100%; background: rgba(26,26,26,0.8);}
#dropdown a { margin: 0 0 0 10%; font-size: 2em; font-size: 2rem; font-size: 34px;}
.eph { margin-top: 10%; visibility: hidden; opacity: 0; 
	   -webkit-transition: all 1s ease-out .2s; -moz-transition: all 1s ease-out .2s; -o-transition: all 1s ease-out .2s; transition: all 1s ease-out .2s; }

.eph:hover {margin-left:80px!important;
	-webkit-transition: margin-left 1s ease-out; -moz-transition: margin-left 1s ease-out; -o-transition: margin-left 1s ease-out; transition: margin-left 1s ease-out; } 


/* Main Content */
.over {  position: absolute; background: rgba(26,26,26,0.6); }
.over h1 { font-family: 'Oswald',sans-serif,Serif; font-weight: bold; color: black; white-space: nowrap; width: auto; color: #259393;}
.title { color : #259393; }




/******************************************************************************************************************************************************************************
* COVER
******************************************************************************************************************************************************************************/


#Home { position: relative; padding: 0; margin: 0; width: 100vw; max-width: 100%; height: 100vh; border: 1px solid black; background: #1a1a1a center 0 no-repeat fixed; background-size: cover; }
#OC { position: absolute; margin: 0; height: calc(100% - 60px); padding:0; position: absolute; top: 60px; border-top: 1px solid black; }

#Homeover { padding-left: 55px; padding-top: 4%; position: absolute; height: 52%; border-bottom: 1px solid black; }
#Homeover h1 { font-size: 12rem; margin: 0; padding: 0; color : #259393; }
#Homeover h2 { font-size: 2.8rem; margin: 0; margin-left:5px; padding: 0; }

/******************************************************************************************************************************************************************************
* FRISE
******************************************************************************************************************************************************************************/
#Frise { position: relative; padding: 0; margin: 0; width: 100vw; max-width: 100%; height: 400vh; border: 1px solid black; background: #E6E6E6 center 0 no-repeat fixed; background-size: cover; }


/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline img {
	margin: 10px 0 0 5px;
	
}


.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  font-size: 1.2em;
   font-weight: 600;
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
   
  
 
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l img {
	border-right: 6px solid #369;
}

.direction-r img {
	border-left: 6px solid #369;
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 15px;
  height: 15px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(51,102,153);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(51,102,153);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(51,102,153);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  border-bottom: 1px solid #369;

   
	font-size: 1.2em;
 
	font-weight:  600;
  
  line-height: 0.55em;
 
  color: rgb(51,102,153);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}



/******************************************************************************************************************************************************************************
* CONTENT
******************************************************************************************************************************************************************************/
.nest 
{ 
	position: relative;
	padding: 5px; 
	/*border: 1px solid orange;*/
}

 
.titletextnet 
{  
	display: block;
	margin: 0 0 0 5px; 
	background: #1a1a1a url("../images/jpg/textures/tapisserie.jpg") 27% 0%; 
	border: 1px solid #487A7B; 
}

.imnet
{
	padding: 0;
	border: 1px solid #487A7B; 	
}

.legnet
{
 
	margin: 5px 0 0 0; 
	 
	background: rgba(26,26,26,0.8) 27% 0%; 
	font-family: "Trykker",serif; 
	font-size: 1.3rem;  
	border: 1px solid #487A7B; 	
	text-align: center;
}

.imnet img
{
	height: 100%;
	width: 100%;
}


.textnet 
{ 
	padding: 5px;  
	height: 100%;
	background: rgba(26,26,26,0.8) 27% 0%; 
	font-family: "Nixie One",serif; 
	border: 1px solid #487A7B; 	
}

.textnet p 
{ 
	padding: 0; 
	margin: 0 0 1% 0 ; 
	font-size: 1.3rem;  
} 


#Intro 
{
	position: relative; 
	padding: 60px 60px 0 55px; 
	margin: 0; width: 100vw; 
	max-width: 100%; 
	height: 200vh; 
	background: #1a1a1a url("../images/jpg/textures/blackplanks.jpg") center 0 no-repeat fixed; 
	background-size: cover; 
	border-top: 1px solid black;
	color : #E0E6F8; 
}

#Intro h1 
{ 
	margin:0; 
	font-size: 6rem; 
}